
    $main-color:#272F32;
    $secondary-color:#9DBDC6;
    $important-color: #FF3D2E;
    $font-color:$main-color;
    $font-color-in-main: #fff;
    $link-color:#0576C6;
    $indicator-color: #0576C6;
    $outer-glow: rgba(255, 61, 46, .5);
    $section-color: #eee;

    $chart-color1: #0576C6;
    $chart-color2: #53B8FF;
    $chart-color3: #034C7F;
    $chart-color4: #022640;
    $chart-color5: #FF9A46;
    $chart-color6: #CC501A;